Source: kafka-http-api
Section: utils
Priority: extra
Maintainer: Gladkov Alexey <legion@yandex-team.ru>
Build-Depends:
 debhelper (>= 8.0.0),
 golang (>= 1.4.2)
Standards-Version: 3.9.3
Homepage: https://github.com/legionus/kafka-http-api

Package: kafka-http-api
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  logrotate
Description: Kafka High-level API
  Server implements High-level API for Apache Kafka.
